.claude
.pycache
.pytest_cache
.DS_Store
.vscode
.codex
.agents
.gitlab
.github
.jitcache

build
tmp
archive
superpowers
__pycache__

zapdos-collab
cu_pvd_hybrid_2d/archive
cu_pvd_hybrid_2d/post
cu_pvd_hybrid_2d/output
cu_pvd_hybrid_2d/zapdos_templates/**/*.gz
cu_pvd_hybrid_2d/zapdos_templates/**/*.rd